{% extends 'layout.html' %}

{% block title %}
    Calculadora de Índice de Massa Corporal
{% endblock title %}

{% block body %}

    <h1>Calculadora de Índice de Massa Corporal</h1>

    <form action="{% url 'resultado' %}" method="post">
        {% csrf_token %}
        <div>
            <p>Peso:</p> {{ form.peso }}
                <br><br>
        </div>
        
        <div>
            <p>Altura:</p> {{ form.altura }}
                <br><br>
        </div>
        <input type="submit" value="Calcular">
    </form>
    
{% endblock body %}