{% extends 'layout.html' %}

{% block title %}
    Calculadora de Índice de Massa Corporal
{% endblock title %}

{% block body %}

    <h1>Calculadora de Índice de Massa Corporal</h1>

    <form action="{% url 'resultado' %}" method="post">
        {% csrf_token %}

        Peso: <input type="number" name="peso" id="" step="any" required> Kg <br><br>
        Altura: <input type="number" name="altura" id="" step="any" required> m <br><br>

        <input type="submit" value="Enviar">
    </form>
    
{% endblock body %}