{% extends 'layout.html' %}

{% block title %}
    Calculadora de Índice de Massa Corporal
{% endblock title %}

{% block body %}

    <h1>Calculadora de Índice de Massa Corporal</h1>

    <form action="{% url 'resultado' %}" method="post">
        {% csrf_token %}

        <fieldset>
            <div>
                Peso: {{ form.peso }}
                    <br><br>
            </div>
    
            <div>
                Altura: {{ form.altura }}
                    <br><br>
            </div>
            
            <button type="submit">Calcular</button>
        </fieldset>

    </form>
    
{% endblock body %}